<div class="container">
  <!-- <h1>Posts</h1> -->
  <!-- <app-post-list></app-post-list> -->
  <div class="row">
  	<div class="col-lg-8 col-sm-offset-2">
	  <form [formGroup]="postForm" (ngSubmit)="onSubmitForm(postForm.value)">
	    <div class="form-group">
	      <label for="title">Title:</label>
	      <input type="text" id="title" class="form-control" formControlName="title">
	    </div>
	    <div class="form-group">
	      <label for="content">Content:</label>
	      <input type="text" id="content" class="form-control" formControlName="content">
	    </div>
	    <!-- <div class="form-group">
	      <label for="created_at">Created at: </label>
	      <input type="date-time" id="created_at" class="form-control" formControlName="created_at">
	    </div> -->
	    <div class="form-group">
	      <label for="loveIts">Etat</label>
	      <select id="loveIts" class="form-control" formControlName="loveIts">
	        <option value="publish">Publier</option>
	        <option value="not publish">Ne pas publier</option>
	      </select>
	    </div>
	    <div formArrayName="hobbies">
		      <h3>Vos hobbies</h3>
		      <div class="form-group" *ngFor="let hobbyControl of getHobbies().controls; let i = index">
		        <input type="text" class="form-control" [formControlName]="i">
		      </div>
		      <button type="button" class="btn btn-success" (click)="onAddHobby()">Ajouter un hobby</button>
		</div>
	    <button type="submit" class="btn btn-primary">Soumettre</button>
	  </form>
	</div>
  </div>
  <div class="row">
  	<!-- <div class="container"> -->
  		<button type="button" class="btn btn-success" (click)="onLove()">Publish All</button>
    	<button type="button" class="btn btn-danger" (click)="onDisLove()">Don't publish All</button>
  		<ul class="list-group" *ngFor="let post of posts">
  			<li class="list-group-item">
  				<!-- <div class="row"> -->
  					<span class="badge">
  						{{ post.loveIts }}
  					</span>
  					{{ post.title }}
  				<!-- </div> -->
  				
  			</li>
  		</ul>
  	<!-- </div> -->
  </div>
</div>